# Node.js dependencies
**/node_modules/

# Java build artifacts
**/target/
*.class
*.jar

# Environment secrets (MUST BE IGNORED)
**/.env
**/gcs-key.json


# IDE settings
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

node_modules/
target/
.idea/
.env

